.home-container {
    background: #E8F4F8;
    padding-bottom: 100px;
    min-height: calc(100vh - 90px)
}

.quote-boxes {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
}